<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="platform" sequenceNumber="5">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.2.M20120208-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.cs3d.platform.feature.feature.group" version="1.0.2"/>
<repository location="http://www.cityserver3d.de/updates2/be4a88f7800e4e13f3ec8fb4148ec8b8d756dfc7/platform/updatesite"/>
</location>
</locations>
</target>
